Задание 1

Вернемся к набору данных о видеоиграх. Ответьте на следующие вопросы:

1) Как критики относятся к спортивным играм?

2) Критикам нравятся больше игры на PC или на PS4?


3) Критикам больше нравятся стрелялки или стратегии?

Для каждого вопроса:

сформулируйте нулевую и альтернативную гипотезы;

выберите пороговый уровень статистической значимости;

опишите полученные результаты статистического теста.

In [13]:
import numpy as np
import pandas as pd
from scipy import stats as st

In [14]:
# Ознакомимся с таблицей
df = pd.read_csv('video_games_sales.csv')
df.head(5)

,Rank,Name,basename,Genre,ESRB_Rating,Platform,Publisher,Developer,VGChartz_Score,Critic_Score,...,NA_Sales,PAL_Sales,JP_Sales,Other_Sales,Year,Last_Update,url,status,Vgchartzscore,img_url
0,1,Wii Sports,wii-sports,Sports,E,Wii,Nintendo,Nintendo EAD,NaN,7.7,...,NaN,NaN,NaN,NaN,2006.0,NaN,http://www.vgchartz.com/game/2667/wii-sports/?...,1,NaN,/games/boxart/full_2258645AmericaFrontccc.jpg
1,2,Super Mario Bros.,super-mario-bros,Platform,NaN,NES,Nintendo,Nintendo EAD,NaN,10.0,...,NaN,NaN,NaN,NaN,1985.0,NaN,http://www.vgchartz.com/game/6455/super-mario-...,1,NaN,/games/boxart/8972270ccc.jpg
2,3,Mario Kart Wii,mario-kart-wii,Racing,E,Wii,Nintendo,Nintendo EAD,NaN,8.2,...,NaN,NaN,NaN,NaN,2008.0,11th Apr 18,http://www.vgchartz.com/game/6968/mario-kart-w...,1,8.7,/games/boxart/full_8932480AmericaFrontccc.jpg
3,4,PlayerUnknown's Battlegrounds,playerunknowns-battlegrounds,Shooter,NaN,PC,PUBG Corporation,PUBG Corporation,NaN,NaN,...,NaN,NaN,NaN,NaN,2017.0,13th Nov 18,http://www.vgchartz.com/game/215988/playerunkn...,1,NaN,/games/boxart/full_8052843AmericaFrontccc.jpg
4,5,Wii Sports Resort,wii-sports-resort,Sports,E,Wii,Nintendo,Nintendo EAD,NaN,8.0,...,NaN,NaN,NaN,NaN,2009.0,NaN,http://www.vgchartz.com/game/24656/wii-sports-...,1,8.8,/games/boxart/full_7295041AmericaFrontccc.jpg

In [15]:
df.dropna(subset=['Critic_Score'], inplace=True) # подготовим таблицу - удалим пропуска

Вопрос №1
Как критики относятся к спортивным играм?

H0 - Критики относятся к спортивным играм так же как и к другим играм, будет почти совпадать со средним.

H1 - Критики по спортивным играм, относятся кретичнее, а значит оценки будут ниже среднего.

Уровень значимости - 0.05

In [16]:
a = 0.05

In [17]:
df.describe() #Интересно посмотреть что в общем происходит

,Rank,VGChartz_Score,Critic_Score,User_Score,Total_Shipped,Global_Sales,NA_Sales,PAL_Sales,JP_Sales,Other_Sales,Year,status,Vgchartzscore
count,6536.000000,0.0,6536.000000,218.000000,586.000000,4275.000000,3861.000000,3913.000000,1522.000000,4142.000000,6532.000000,6536.0,554.000000
mean,14549.843941,NaN,7.213709,8.570642,3.945358,0.755357,0.429513,0.264122,0.123088,0.084242,2007.086803,1.0,7.755415
std,14465.592639,NaN,1.454079,1.068985,6.212348,1.383400,0.733147,0.593072,0.186632,0.194659,4.977884,0.0,1.261725
min,1.000000,NaN,1.000000,3.800000,0.030000,0.000000,0.000000,0.000000,0.000000,0.000000,1970.000000,1.0,3.000000
25%,3241.750000,NaN,6.400000,8.000000,1.100000,0.110000,0.080000,0.020000,0.020000,0.010000,2004.000000,1.0,7.200000
50%,9002.000000,NaN,7.500000,8.900000,1.930000,0.320000,0.190000,0.070000,0.060000,0.020000,2008.000000,1.0,8.000000
75%,22042.250000,NaN,8.300000,9.300000,4.315000,0.775000,0.440000,0.250000,0.150000,0.080000,2010.000000,1.0,8.600000
max,55654.000000,NaN,10.000000,10.000000,82.860000,20.320000,9.760000,9.850000,2.170000,3.120000,2020.000000,1.0,9.600000

Critic_Score - Узнали среднее значение по всем играм = 7,2, а так же другие статистические показатели.

In [18]:
df_sport = df[df.Genre == 'Sports'].Critic_Score  # Посмотрим среднию оценку по сортивным играм
df_sport.mean()

7.291424418604655

In [19]:
mean_general = df.Critic_Score.mean()    # Зафиксируем среднию оценку по всем имграм
mean_general

7.21370869033052

In [20]:
stats, p = st.ttest_1samp(df_sport, mean_general)
print('Statistics=%.3f, p=%.3f' % (stats, p))

if (stats < 0) & (p / 2 < a):
    print('Отвергаем H0, критики более кретичны к спортивным играм')
else:
    print('Не отвергаем Н0, критики относятся к спортивным играм так же как и к другим играм')

Statistics=1.386, p=0.166
Не отвергаем Н0, критики относятся к спортивным играм так же как и к другим играм

2) Критикам нравятся больше игры на PC или на PS4?

H0 - Критикам больше нравиться игры на PC

H1 - Критикам меньше нравиться игры на PС

Уровень значимости - 0.05

In [21]:
df_PC = df[df.Platform == 'PC'].Critic_Score.dropna()
df_PS4 = df[df.Platform == 'PS4'].Critic_Score.dropna()
print("Средняя оценка игра на PC:",df_PC.mean(),"Средняя оценка игра на PS4:",df_PS4.mean())

Средняя оценка игра на PC: 7.541849710982658 Средняя оценка игра на PS4: 7.904587155963299

In [22]:
PC = df.loc[df['Platform'] == 'PC']
PS4 = df.loc[df['Platform'] == 'PS4']

In [23]:
stats, p = st.ttest_ind(PC['Critic_Score'], PS4['Critic_Score'], equal_var=False)
print('Statistics=%.3f, p=%.3f' % (stats, p))

if (stats < 0) & (p / 2 < a):
    print('Отвергаем H0, Критикам меньше нравиться игры на PС')
else:
    print('Не отвергаем H0, Критикам больше нравиться игры на PC')

Statistics=-2.739, p=0.007
Отвергаем H0, Критикам меньше нравиться игры на PС

Вопрос №3
Критикам больше нравятся стрелялки или стратегии?

H0 - Критики относятся к стрелялкам так же как и к другим играм, будет почти совпадать со средним.

H1 - Критикам больше нравяться стрелялки.

Уровень значимости - 0.05

In [24]:
df.groupby('Genre')['Critic_Score'].mean() #предварительно ознакомимся? что просходит по каждой категории

Genre
Action              6.840234
Action-Adventure    7.693939
Adventure           7.329188
Board Game          5.300000
Education           7.500000
Fighting            7.388415
MMO                 7.810000
Misc                6.885799
Music               7.912000
Party               6.053333
Platform            7.308333
Puzzle              7.200000
Racing              7.091145
Role-Playing        7.461610
Sandbox             9.200000
Shooter             7.286833
Simulation          6.926201
Sports              7.291424
Strategy            7.429268
Visual Novel        8.500000
Name: Critic_Score, dtype: float64

In [25]:
Shooter = df.loc[df['Genre'] == 'Shooter']
Strategy = df.loc[df['Genre'] == 'Strategy']

In [26]:
stat, p = st.ttest_ind(Shooter['Critic_Score'], Strategy['Critic_Score'], equal_var=False)
print('Statistics=%.3f, p=%.3f' % (stat, p))

if (p < a):
    print('Отвергаем H0, критикам больше нравяться стрелялки.')
else:
    print('Не отвергаем H0, критики относятся к стрелялкам так же как и к другим играм,')

Statistics=-1.607, p=0.108
Не отвергаем H0, критики относятся к стрелялкам так же как и к другим играм,

Задание 2

Реализуйте базовую модель логистической регрессии для классификации текстовых сообщений (используемые данные здесь) по признаку спама. Для этого:


1) Привидите весь текст к нижнему регистру;
2) Удалите мусорные символы;
3) Удалите стоп-слова;
4) Привидите все слова к нормальной форме;
5) Преобразуйте все сообщения в вектора TF-IDF. Вам поможет следующий код:


from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer()

tfidf_matrix = tfidf.fit_transform(df.Message)

names = tfidf.get_feature_names()

tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=cname)

Можете поэкспериментировать с параметрами TfidfVectorizer;

6) Разделите данные на тестовые и тренировочные в соотношении 30/70, укажите random_state=42. Используйте train_test_split;

7) Постройте модель логистической регрессии, укажите random_state=42, оцените ее точность на тестовых данных;

8) Опишите результаты при помощи confusion_matrix;

9) Постройте датафрейм, который будет содержать все исходные тексты сообщений, классифицированные неправильно (с указанием фактического и предсказанного).

In [214]:
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
import re

In [215]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\89539\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [216]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\89539\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [217]:
spam = pd.read_csv('spam.csv')
spam.head(5)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [218]:
#1) Привидите весь текст к нижнему регистру;
spam['words'] = spam.Message.str.lower()   
spam.head(3)

,Category,Message,words
0,ham,"Go until jurong point, crazy.. Available only ...","go until jurong point, crazy.. available only ..."
1,ham,Ok lar... Joking wif u oni...,ok lar... joking wif u oni...
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,free entry in 2 a wkly comp to win fa cup fina...

In [219]:
#2) Удалите мусорные символы
spam['words'] = spam.words.apply(lambda x: re.sub('[\W_]+',' ', x))
spam.head()

,Category,Message,words
0,ham,"Go until jurong point, crazy.. Available only ...",go until jurong point crazy available only in ...
1,ham,Ok lar... Joking wif u oni...,ok lar joking wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,free entry in 2 a wkly comp to win fa cup fina...
3,ham,U dun say so early hor... U c already then say...,u dun say so early hor u c already then say
4,ham,"Nah I don't think he goes to usf, he lives aro...",nah i don t think he goes to usf he lives arou...

In [220]:
#3) Удалите стоп-слова; 
stopwords_set = set(stopwords.words('english'))
spam['words'] = spam['words'].apply(lambda message: [word for word in message.split() if word not in stopwords_set])
spam.head()

,Category,Message,words
0,ham,"Go until jurong point, crazy.. Available only ...","[go, jurong, point, crazy, available, bugis, n..."
1,ham,Ok lar... Joking wif u oni...,"[ok, lar, joking, wif, u, oni]"
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,"[free, entry, 2, wkly, comp, win, fa, cup, fin..."
3,ham,U dun say so early hor... U c already then say...,"[u, dun, say, early, hor, u, c, already, say]"
4,ham,"Nah I don't think he goes to usf, he lives aro...","[nah, think, goes, usf, lives, around, though]"

In [221]:
#4) Приведите все слова к нормальной форме
wordnet_lemmatizer = WordNetLemmatizer()
spam['words'] = spam.words.apply(lambda x: [wordnet_lemmatizer.lemmatize(word) for word in x])
spam.head()

,Category,Message,words
0,ham,"Go until jurong point, crazy.. Available only ...","[go, jurong, point, crazy, available, bugis, n..."
1,ham,Ok lar... Joking wif u oni...,"[ok, lar, joking, wif, u, oni]"
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,"[free, entry, 2, wkly, comp, win, fa, cup, fin..."
3,ham,U dun say so early hor... U c already then say...,"[u, dun, say, early, hor, u, c, already, say]"
4,ham,"Nah I don't think he goes to usf, he lives aro...","[nah, think, go, usf, life, around, though]"

In [222]:
# Преобразуем в вектора TF-IDF
spam['words'] = spam['words'].apply(lambda x: ' '.join(x))
spam.head()

,Category,Message,words
0,ham,"Go until jurong point, crazy.. Available only ...",go jurong point crazy available bugis n great ...
1,ham,Ok lar... Joking wif u oni...,ok lar joking wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,free entry 2 wkly comp win fa cup final tkts 2...
3,ham,U dun say so early hor... U c already then say...,u dun say early hor u c already say
4,ham,"Nah I don't think he goes to usf, he lives aro...",nah think go usf life around though

In [228]:
# Преобразуем в вектора TF-IDF
tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(spam.words)
names = tfidf.get_feature_names()
tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=names)

tfidf_matrix[tfidf_matrix['crazy'] > 0]['crazy']

0       0.271104
1011    0.314864
1344    0.230861
1668    0.455703
2803    0.347767
2848    0.418694
2930    0.268107
3099    0.630010
3752    0.397385
3942    0.308587
4752    0.220369
4974    0.269057
5098    0.221293
5511    0.541000
Name: crazy, dtype: float64

In [229]:
tfidf_matrix['Message'] = spam['Message']  
tfidf_matrix['Category'] = spam['Category']
tfidf_matrix[['free', 'Message', 'Category']].head()    # Проверим, что получилось

       free                                            Message Category
0  0.000000  Go until jurong point, crazy.. Available only ...      ham
1  0.000000                      Ok lar... Joking wif u oni...      ham
2  0.115769  Free entry in 2 a wkly comp to win FA Cup fina...     spam
3  0.000000  U dun say so early hor... U c already then say...      ham
4  0.000000  Nah I don't think he goes to usf, he lives aro...      ham

6) Разделите данные на тестовые и тренировочные в соотношении 30/70, укажите random_state=42. Используйте train_test_split;

In [233]:

data_train, data_test = train_test_split(tfidf_matrix, test_size=0.3, random_state=42) 
y_train = data_train['Category']
y_test = data_test[['Category', 'Message']]

del data_train['Category']
del data_test['Category']
del data_train['Message']
del data_test['Message']

result = pd.DataFrame([y_test['Category'].values, clf.predict(data_test), y_test['Message'].values]).T
result.columns = ['Initial_category', 'Predicted', 'Message']
result

,Initial_category,Predicted,Message
0,ham,ham,Squeeeeeze!! This is christmas hug.. If u lik ...
1,ham,ham,And also I've sorta blown him off a couple tim...
2,ham,ham,Mmm thats better now i got a roast down me! i...
3,ham,ham,Mm have some kanji dont eat anything heavy ok
4,ham,ham,So there's a ring that comes with the guys cos...
...,...,...,...
1667,ham,ham,"Hello, my boytoy! I made it home and my consta..."
1668,spam,spam,FREE entry into our £250 weekly comp just send...
1669,ham,ham,Aiyo u so poor thing... Then u dun wan 2 eat? ...
1670,spam,spam,"You have won ?1,000 cash or a ?2,000 prize! To..."
1671,ham,ham,"Sorry I flaked last night, shit's seriously go..."

7) Постройте модель логистической регрессии, укажите random_state=42, оцените ее точность на тестовых данных;

In [248]:
cr = LogisticRegression(random_state=42).fit(data_train, y_train)
accuracy_score(y_train, cr.predict(data_train)) # точность регрессии

0.9651282051282051

8) Опишите результаты при помощи confusion_matrix;

In [249]:
cm = confusion_matrix(y_test['Category'].values, cr.predict(data_test))
print(f"Confusion_matrix: \n{cm}")
print(f"Точность предсказания: {(cm[0][0] + cm[1][1]) / len(result):.1%}")

Confusion_matrix:
[[1445    3]
 [  66  158]]
Точность предсказания: 95.9%

9)Постройте датафрейм, который будет содержать все исходные тексты сообщений, классифицированные неправильно (с указанием фактического и предсказанного).

In [252]:
final_df = result[result['Initial_category'] != result['Predicted']]
final_df

,Initial_category,Predicted,Message
17,ham,spam,Hey now am free you can call me.
40,spam,ham,Reminder: You have not downloaded the content ...
47,spam,ham,Guess what! Somebody you know secretly fancies...
74,spam,ham,Oh my god! I've found your number again! I'm s...
84,spam,ham,Your next amazing xxx PICSFREE1 video will be ...
...,...,...,...
1525,spam,ham,FreeMsg Hi baby wow just got a new cam moby. W...
1567,spam,ham,You have an important customer service announc...
1569,spam,ham,TheMob> Check out our newest selection of cont...
1576,ham,spam,Are you free now?can i call now?
1586,spam,ham,SMS. ac Blind Date 4U!: Rodds1 is 21/m from Ab...